In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('D:/Users/RISHABH/anaconda3/6.1 Machine_Learning_A-Z_New.zip/Machine Learning A-Z New/Part 6 - Reinforcement Learning/Section 32 - Upper Confidence Bound (UCB)/Ads_CTR_Optimisation.csv')

In [4]:
df

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [5]:
df.shape

(10000, 10)

In [6]:
df.describe()

,Ad 1,Ad 2,Ad 3,Ad 4,Ad 5,Ad 6,Ad 7,Ad 8,Ad 9,Ad 10
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,0.170300,0.129500,0.072800,0.119600,0.269500,0.012600,0.111200,0.209100,0.095200,0.04890
std,0.375915,0.335769,0.259821,0.324509,0.443722,0.111546,0.314395,0.406686,0.293506,0.21567
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [10]:
import math
import random
N = 10000
d = 10
ads_selected =[]
number_of_times1 = [0]*d
number_of_times0 = [0]*d
total_reward = 0
for n in range(0,10000):
    ad = 0
    max_random = 0
    for i in range(0,10):
        random_beta = random.betavariate(number_of_times1[i]+1,number_of_times0[i]+1)
        if random_beta > max_random:
            max_random = random_beta
            ad = i
    ads_selected.append(ad)
    reward  = df.values[n,ad]
    if reward == 1:
        number_of_times1[ad] = number_of_times1[ad]+ 1
    else:
        number_of_times0[ad] = number_of_times0[ad] + 1
    total_reward = total_reward + reward

In [11]:
total_reward

2601

In [12]:
number_of_times0

[97, 54, 31, 136, 6713, 23, 39, 219, 58, 29]

In [13]:
number_of_times1

[16, 7, 1, 26, 2489, 0, 2, 53, 6, 1]

In [14]:
reward

0

In [15]:
ads_selected

[4,
 3,
 7,
 0,
 4,
 0,
 6,
 1,
 9,
 0,
 5,
 4,
 6,
 3,
 0,
 2,
 8,
 1,
 5,
 8,
 9,
 1,
 6,
 5,
 7,
 0,
 8,
 4,
 7,
 1,
 2,
 4,
 8,
 5,
 7,
 6,
 7,
 9,
 1,
 7,
 7,
 4,
 7,
 7,
 3,
 4,
 7,
 4,
 8,
 0,
 9,
 3,
 2,
 2,
 4,
 7,
 4,
 1,
 4,
 1,
 4,
 4,
 3,
 2,
 1,
 6,
 0,
 7,
 7,
 8,
 3,
 5,
 8,
 3,
 7,
 4,
 1,
 1,
 4,
 1,
 0,
 4,
 7,
 7,
 7,
 7,
 8,
 2,
 3,
 4,
 0,
 4,
 7,
 1,
 4,
 4,
 6,
 9,
 4,
 8,
 4,
 8,
 4,
 8,
 5,
 4,
 8,
 2,
 4,
 9,
 4,
 3,
 7,
 3,
 4,
 1,
 8,
 4,
 3,
 4,
 0,
 4,
 7,
 1,
 8,
 4,
 5,
 4,
 6,
 4,
 4,
 0,
 4,
 5,
 0,
 9,
 1,
 4,
 0,
 9,
 4,
 7,
 4,
 4,
 4,
 4,
 8,
 8,
 4,
 5,
 0,
 4,
 3,
 4,
 1,
 8,
 1,
 8,
 2,
 8,
 0,
 4,
 9,
 0,
 1,
 7,
 4,
 4,
 0,
 9,
 8,
 4,
 1,
 0,
 7,
 0,
 8,
 7,
 7,
 7,
 1,
 8,
 4,
 8,
 4,
 8,
 0,
 7,
 7,
 4,
 2,
 0,
 2,
 7,
 6,
 4,
 3,
 7,
 7,
 4,
 4,
 7,
 6,
 4,
 4,
 2,
 4,
 8,
 7,
 7,
 6,
 0,
 8,
 4,
 4,
 7,
 7,
 0,
 4,
 4,
 1,
 4,
 7,
 3,
 5,
 7,
 2,
 1,
 8,
 4,
 4,
 4,
 7,
 7,
 3,
 4,
 3,
 4,
 7,
 4,
 7,
 4,
 4,
 8,
 7,
 7,
 7,
 3,
 7,
 0,
 2,
 0,
 7,
 4,
 1,
 7,
 0,
 4,
 7,
 1,
 7,
 4,
 7,
 4,
 7,
 8,
 2,
 0,
 7,
 4,
 7,
 2,
 4,
 4,
 7,
 4,
 4,
 0,
 7,
 0,
 7,
 0,
 4,
 4,
 4,
 4,
 0,
 4,
 3,
 4,
 4,
 8,
 7,
 8,
 3,
 4,
 7,
 0,
 3,
 6,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 0,
 0,
 2,
 1,
 1,
 0,
 7,
 4,
 0,
 4,
 3,
 4,
 7,
 7,
 7,
 3,
 6,
 4,
 0,
 1,
 2,
 3,
 0,
 4,
 3,
 8,
 7,
 0,
 7,
 5,
 4,
 8,
 4,
 6,
 4,
 7,
 7,
 4,
 4,
 4,
 5,
 3,
 0,
 8,
 4,
 3,
 6,
 5,
 7,
 6,
 8,
 4,
 0,
 8,
 7,
 4,
 0,
 8,
 0,
 1,
 3,
 4,
 0,
 0,
 6,
 3,
 4,
 4,
 3,
 2,
 4,
 3,
 3,
 3,
 6,
 3,
 3,
 7,
 6,
 3,
 3,
 0,
 3,
 7,
 3,
 0,
 0,
 3,
 9,
 9,
 0,
 0,
 7,
 3,
 6,
 3,
 3,
 4,
 4,
 6,
 3,
 6,
 3,
 3,
 3,
 7,
 3,
 1,
 8,
 3,
 3,
 3,
 1,
 7,
 4,
 5,
 3,
 6,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 8,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 9,
 3,
 4,
 3,
 3,
 3,
 3,
 7,
 3,
 7,
 0,
 4,
 3,
 3,
 7,
 9,
 8,
 0,
 4,
 0,
 0,
 3,
 3,
 4,
 4,
 8,
 3,
 4,
 0,
 3,
 4,
 4,
 3,
 4,
 2,
 9,
 3,
 0,
 0,
 9,
 4,
 3,
 3,
 4,
 4,
 7,
 4,
 4,
 3,
 4,
 4,
 4,
 1,
 0,
 1,
 4,
 4,
 3,
 4,
 0,
 8,
 8,
 4,
 4,
 6,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 0,
 3,
 4,
 4,
 3,
 3,
 4,
 0,
 0,
 4,
 0,
 4,
 4,
 1,
 4,
 6,
 0,
 4,
 4,
 8,
 4,
 0,
 4,
 7,
 7,
 4,
 3,
 6,
 8,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 4,
 2,
 3,
 0,
 0,
 4,
 4,
 3,
 4,
 4,
 4,
 7,
 3,
 4,
 3,
 4,
 7,
 4,
 0,
 3,
 0,
 4,
 3,
 7,
 3,
 4,
 3,
 3,
 0,
 0,
 4,
 4,
 4,
 4,
 3,
 4,
 3,
 8,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 4,
 7,
 4,
 4,
 4,
 0,
 4,
 4,
 4,
 6,
 0,
 4,
 4,
 1,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 3,
 7,
 4,
 4,
 3,
 1,
 4,
 4,
 6,
 4,
 0,
 8,
 3,
 4,
 4,
 4,
 7,
 6,
 4,
 4,
 4,
 4,
 4,
 0,
 7,
 7,
 3,
 4,
 3,
 7,
 3,
 0,
 2,
 7,
 4,
 3,
 4,
 0,
 4,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 7,
 7,
 4,
 4,
 6,
 6,
 0,
 7,
 0,
 4,
 4,
 7,
 4,
 7,
 7,
 4,
 4,
 4,
 7,
 2,
 5,
 4,
 4,
 1,
 7,
 4,
 4,
 4,
 7,
 7,
 7,
 0,
 4,
 7,
 4,
 4,
 4,
 3,
 7,
 4,
 4,
 4,
 3,
 7,
 3,
 7,
 4,
 4,
 7,
 7,
 4,
 4,
 7,
 0,
 7,
 0,
 7,
 4,
 3,
 7,
 4,
 4,
 4,
 4,
 4,
 3,
 1,
 4,
 0,
 4,
 4,
 4,
 4,
 7,
 4,
 7,
 3,
 4,
 4,
 7,
 3,
 4,
 4,
 7,
 4,
 4,
 3,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 0,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 4,
 1,
 4,
 4,
 4,
 4,
 7,
 4,
 7,
 4,
 4,
 7,
 8,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 7,
 4,
 4,
 7,
 7,
 9,
 3,
 4,
 4,
 4,
 7,
 4,
 4,
 4,
 7,
 4,
 4,
 2,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 4,
 7,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 7,
 4,
 7,
 4,
 7,
 0,
 7,
 7,
 7,
 4,
 4,
 7,
 3,
 7,
 7,
 7,
 4,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 7,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 7,
 4,
 4,
 5,
 7,
 4,
 7,
 4,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 7,
 4,
 7,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 4,
 4,
 7,
 4,
 4,
 3,
 4,
 3,
 4,
 4,
 4,
 4,
 7,
 4,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 9,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 4,
 7,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 7,
 7,
 ...]